.site-hero {
  background: url(../images/hero-aaron-huber.jpg) no-repeat 50% 50%;
  background-size: cover;
  color: $white;
  text-transform: uppercase;
  margin-top: 68px;

  .inner {
    min-height: calc(100vh - 68px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .established {
    border: 1px solid $primary;
    font-family: $font-head-secondary;
    font-size: 2.286rem;
    letter-spacing: 0.1rem;
    line-height: 1;
    margin-bottom: $base-spacing-unit;
    margin-top: $base-spacing-unit * 2;
    padding: .3em $base-spacing-unit * 0.8;

    @include media($from: desk) {
      margin-bottom: $base-spacing-unit * 3;
    }
  }
  .logo-full {
    margin-bottom: $base-spacing-unit;
    max-width: 1160px;
    width: 100%;

    @include media($from: desk) {
      margin-bottom: $base-spacing-unit * 3;
    }

    svg {
      width: 100%;
      
      .st0{
        fill: $white;
      }
      .st1{
        fill: $primary;
      }
    }
  }
  .subtitle {
    font-family: $font-head-secondary;
    letter-spacing: 0.2rem;
    margin-bottom: $base-spacing-unit * 4;

    @include media($from: desk) {
      letter-spacing: 0.35rem;
    }

    em {
      color: $primary;
      font-style: normal;
    }
  }
}