.legacy {
  background: $tertiary;
  color: $white;
  @include padding-vertical($base-spacing-unit * 4);

  .actions {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: $base-spacing-unit;
    position: relative;
    left: -$half-spacing-unit;
  }

  .nav-prev,
  .nav-next {
    background: $primary;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    margin: 0 $half-spacing-unit;

    img {
      width: 30%;
    }
  }
}