.testimonials {
  background: $white;
  @include padding-horizontal($base-spacing-unit);
  @include padding-vertical($base-spacing-unit * 2);

  .owl-carousel {
    border: 1px solid $secondary;
    padding: ($base-spacing-unit * 2) $base-spacing-unit;
    position: relative;

    @include media($from: desk) {
      padding: $base-spacing-unit * 2;
    }
  }
  .owl-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .owl-prev,
  .owl-next {
    background-color: $primary !important;
    background-repeat: no-repeat !important;
    background-position: 50% 50% !important;
    background-size: 30% !important;
    border-radius: 0 !important;
    height: 50px;
    width: 50px;
    margin: 0 !important;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: background-color 0.4s ease;

    &:hover {
      background-color: darken( $primary, 10 ) !important;
    }
  }
  .owl-prev {
    background-image: url(../images/arrow-left.svg) !important;
    left: -25px;
  }
  .owl-next {
    background-image: url(../images/arrow-right.svg) !important;
    right: -25px;
  }
  .rating img {
    display: inline-block;
    width: 175px;
  }
}