---
layout: default
---

<div class="home">

  <section class="welcome">
    <div class="inner">
      <div class="title">
        <h1>
          <span>This</span> 
          <span>After</span> 
          <span>That</span>
          <small>by</small>
        </h1>
        <h2>
          <span>Mike</span>
          <span>Kennedy</span>
        </h2>
      </div>

      <!--<div class="triangle triangle-1"></div>-->
      <!--<div class="triangle triangle-2"></div>-->
      <!--<div class="triangle triangle-3"></div>-->
      <!--<div class="triangle triangle-4"></div>-->
      <!--<div class="triangle triangle-5"></div>-->
    </div>
  </section>
  
  <section class="work">
    <div class="inner">
      <h1>Dad / Dev / Designer</h1>
      <h2>Recent Work</h2>
      <ul class="gw">
        <li class="g lap-one-quarter landmarklet"><a href="https://buffalowildwings.com" target="_blank"><img src="/assets/images/buffalo-wild-wings.jpg" alt="Buffalo Wild Wings" /></a></li>
        <li class="g lap-one-quarter landmarklet"><a href="https://www.premamawellness.com/" target="_blank"><img src="/assets/images/premama.jpg" alt="Premama Wellness" /></a></li>
        <li class="g lap-one-quarter landmarklet"><a href="https://www.inspiresleep.com/" target="_blank"><img src="/assets/images/inspire-sleep.jpg" alt="Inspire Sleep" /></a></li>
        <li class="g lap-one-quarter landmarklet"><a href="https://www.twinsix.com/" target="_blank"><img src="/assets/images/twinsix.jpg" alt="Twin Six" /></a></li>
      </ul>
    </div>
  </section>
</div>
